* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fluid-container {
  width: 90%;
  margin: 0 auto;
}

.bg-white-and-flex {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

input.search {
  height: 2.3rem;
  border-radius: 10px;
  width: 50%;
  color: black;
  border: 1px solid lightgray;
  outline: none;
  text-align: center;
}

#search-bar {
  font-size: 20%;
  width: 100%;
  align-items: center;
 
}

.img-friends {
  margin: 30px 0;
  border-radius: 2rem;
}

#nome {
  color: black;
}

.post-amigos {
  width: 100%;
  padding: 9px 10px 30px 10px;
  background-color: #e4e6eb;
  margin-bottom: 1.5rem;
}
.amigos {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
}

.container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
  max-width: 100%;
  background-color: white;
  width: 60rem;
  margin: 5rem auto;
}

.caixa {
  width: 49%;
  font-size: 14px;
  align-items: center;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 12px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #e4e6eb;
  
}

#div-dados {
  display: flex;
  flex-direction: column;
}

#div-dados p {
  margin-bottom: -12px;
  color: black;
  line-height: 4px;
}

button {
  text-decoration: none;
  background: linear-gradient(#297e92, #6dc6c4);
  color: white;
  padding: 10px;
  border-radius: 7px;
  width: 5rem;
}

@media only screen and (max-width: 768px) {
  .caixa {
    width: 100% !important;
  }

  .search-friend-wrap {
    flex: 1;
  }

  .search-friend-wrap input {
    width: 100%;
  }
}


@media only screen and (min-width: 900px) {
  .fluid-container {
    width: 876px;
  }
}
